@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');


:root {
	--font-color: #323232;
	--font-color-sub: #666;
	--bg-color: #fff;
	--main-color: #323232;
	--main-focus: #2d8cf0;
	--primary-stripe-rgb: 230 230 230;
  	--secondary-stripe-rgb: 240 240 240;
}

body {
	font-family: "IBM Plex Sans", sans-serif;
  	font-weight: 400;
  	font-style: normal;
    	margin: 0;
    	padding: 0;
    	background-color: #f8f8f8;
    	color: #333;
    	display: flex;
    	flex-direction: column;
    	min-height: 100vh;
	background-size: 18px 18px;
	background-image: linear-gradient(
    		-45deg,
    		rgba(var(--primary-stripe-rgb)) 25%,
    		rgba(var(--secondary-stripe-rgb)) 25%,
    		rgba(var(--secondary-stripe-rgb)) 50%,
    		rgba(var(--primary-stripe-rgb)) 50%,
    		rgba(var(--primary-stripe-rgb)) 75%,
    		rgba(var(--secondary-stripe-rgb)) 75%,
    		rgba(var(--secondary-stripe-rgb)) 100%
  	);
  	animation: pan 360s linear infinite;

}

@keyframes pan {
	0% {
    		background-position: 0 0;
  	}
  	100% {
    		background-position: 1000px 1000px;
  	}
}

main {
	width: 80%;
	margin: 0 auto;
}

ul {
	list-style: none;
	padding-left: 0;
}

.folder {
	font-weight: bold;
	margin: 10px;
}

.file {
	margin-left: 20px; 
}

.folder::before {
	content: "\1F5C2";
	margin-right: 5px;  
}

li.folder {
    	text-transform: uppercase;
	font-weight: 700;
}

.file::before {
  	content: "\1F4C4";
  	margin-right: 5px; 
}

ul ul {
 	padding-left: 20px;
}

header {
	background: rgb(49, 101, 157);
	color: #fff;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
  	box-shadow: 4px 4px var(--main-color);
}

nav a {
	color: #fff;
    	text-decoration: none;
   	margin: 0 1em;
   	font-size: 1.5em;
}

header h1 {
	color: #fff;
	text-indent: -9999px;
	background: url("assets/Nan1fy-logotype-transparent.png") no-repeat;
	width: 300px;
	height: 80px;
	background-size: cover;
	margin: 0;
}

nav {
	display: flex;
  	justify-content: center;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	text-decoration: none; 
	color: #fff; 
	font-weight: bold; 
}

nav ul li a:hover {
	text-decoration: underline;
}

.section {
	margin: 20px;
  	background: var(--bg-color);
  	border: 2px solid var(--main-color);
  	box-shadow: 4px 4px var(--main-color);
  	border-radius: 5px;
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
  	padding: 20px;
  	gap: 10px;
}

.section a {	
	color: #007bff;
	text-decoration: none;
}

.section a:hover {
	text-decoration: underline;
}

.info ul {
	text-align: center;
	list-style-type: none;
	padding: 0;
}

.info ul li {
	margin: 10px;
	padding: 8px;
	background-color: #f8f8f8;
	color: #333;
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	border: 2px solid var(--main-color);
	border-radius: 5px;
	display: inline-block;
	width: 200px;
	transition: transform 0.3s ease; /* Aggiungi una transizione per un effetto più fluido */
}

.info ul li:hover {
	animation: move 1s infinite alternate; /* Attiva l'animazione solo quando il mouse è sopra */
}

@keyframes move {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-3px);
	}
	100% {
		transform: translateY(0);
	}
}

.info ul .matricola {
	color: #666;
  	font-size: 12px; 
}

.info .nome::after{
    	content: "\a";
    	white-space: pre;
}

@media screen and (max-width: 550px) {
	header {
		flex-direction: column;		
	}
	nav>ul {
		display: block;
		text-align: center;
	}
	header h1 {
		color: #fff;
		text-indent: -9999px;
		background: url("assets/Nan1fy-logotype-transparent-short.png") no-repeat;
		width: 80px;
		height: 80px;
		background-size: cover;
		margin: 0;
	}
}

span#dataAgg {
    	text-align: right;
}


#indice ul {
	display: inline;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
	
}

#indice ul li {
    display: inline-block;
	border: solid 1px  black;
	background-color: white;
	padding: 1px;
	margin: 5px;
	box-shadow: 2px 2px var(--main-color);
	border-radius: 4px;

}

#indice li:hover {
	border: solid 1px  black;
	background-color: white;
	padding: 1px;
	margin: 5px;
	box-shadow: 0px 0px var(--main-color);
  	border-radius: 4px;
}

#indice a {
	margin: 2px;
	color: black;
}
